body {
  min-height: 1200px;
}

h1 {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: solid 1px #CCC;
  font-family: arial;
}

h3 {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: solid 1px #CCC;
  font-family: arial;
}

.caisse {
  max-width: 30px;
}

.corps {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 6px;
  padding-top: 1px;
  width: 80%;
  display: block;
  max-width: 1000px;
  height: 1200px;
  align-items: center;
  background-color: #FFF;
}

.stock {
  width: 20%;
  min-width: 180px;
}
.vendre {
  width: 25%;
  min-width: 195px;
}
.prix {
  min-width: 50px;
}


.utilisateur {
  background-color: black;
  color: white;
}

.produit {
  width: 10%;
}

.quantite {
  padding: 3px;
  font-size: 15px;
  width: 35%;
  height: 80%;
  text-align: center;
  border-style: hidden;
}

.quantite2 {
  padding: 0px;
  font-size: 15px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-style: hidden;
}
.quantite3 {
  padding: 0px;
  font-size: 15px;
  width: 70%;
  height: 100%;
  text-align: center;
  border-style: hidden;
}

.buttonVendre {
  width: 70%;
  display: inline-block;
  margin: auto;
  border: none;
  padding: 5px;
  background-color: lightgreen;
  border: solid 1px;
}

.buttonAnnuler {
  display: inline-block;
  margin: auto;
  border: none;
  padding: 5px;
  background-color: lightcoral;
  border: solid 1px;
}

.buttonOption {
  max-width: 60px;
  display: inline-block;
  margin: auto;
  border: none;
  padding: 5px;
  background-color: lightgrey;
  border: solid 1px;
}

.buttonFacturer {
  max-width: 60px;
  display: inline-block;
  margin: auto;
  border: none;
  padding: 5px;
  background-color: azure;
  border: solid 1px;
}

.buttonOffrir {
  max-width: 60px;
  display: inline-block;
  margin: auto;
  border: none;
  padding: 5px;
  background-color: turquoise;
  border: solid 1px;
}

.buttonAnnuler2 {
  display: inline-block;
  margin: auto;
  border: none;
  padding: 5px;
  background-color: lightcoral;
  border: solid 1px;
}

.button2 {
  padding: 0px;
  font-size: 15px;
  display: inline-block;
  border: none;
  background-color: #FFF;
  width: 15%;
  height: 80%;
}

.buttonValider {
  padding: 5px;
  margin-left: 11px;
  display: inline-block;
  border: solid 1px;
  background-color: lightblue;
  width: auto;
}
.buttonValider2 {
  padding: 5px;
  margin-left: 0px;
  display: inline-block;
  border: solid 1px;
  background-color: lightblue;
  width: 100%;

}

span {
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-spacing: 10px;
  width: 100%;

}

th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  background-color: #000;
  color: #FFF;
}

td {
  border: 0px solid #DDD;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #DDD;
}

tr:nth-child(odd) {
  background-color: #CCC;
}
