h1 {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: solid 1px #CCC;
  font-family: arial;
}

h3 {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: solid 1px #CCC;
  font-family: arial;
}

.corps {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 6px;
  padding-top: 1px;
  width: 80%;
  align-items: center;
  background-color: #EEE;
}

.stock {
  width: 30%;
}


.utilisateur {
  background-color: black;
  color: white;
}

.quantite {
  padding: 3px;
  font-size: 15px;
  width: 35%;
  height: 80%;
  text-align: center;
  border-style: hidden;
}
.buttonVendre {
  display: inline-block;
  margin: auto;
  border: none;
  padding: 10px;
  background-color: lightgreen;
  border: solid 1px;
}

.buttonAnnuler {
  display: inline-block;
  margin: auto;
  border: none;
  padding: 10px;
  background-color: lightcoral;
  border: solid 1px;
}

.button2 {
  padding: 0px;
  font-size: 15px;
  display: inline-block;
  border: none;
  background-color: #FFF;
  width: 15%;
  height: 80%;
}

.buttonValider {
  padding: 5px;
  margin-left: 11px;
  display: inline-block;
  border: solid 1px;
  background-color: lightblue;
  width: 50%;

}

span {
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-spacing: 10px;
  width: 100%;

}

th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  background-color: #000;
  color: #FFF;
}

td {
  border: 0px solid #DDD;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #DDD;
}

tr:nth-child(odd) {
  background-color: #CCC;
}
